/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.image-block {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  grid-column-gap: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  left:0;
  z-index: -1000;
  .image-block-image {
    width: 100%;
    padding: 0;
      img {
        width:100%;
      }
  }
}

.panel-heading {
  a {
    padding-left: 10px;
    &:hover {
      text-decoration: none;
      opacity: 1;
      text-decoration: none;
    }
  }
  opacity: 0.8;
  clear: both;
}

.candidate-name {
  font-size: 10em;
  font-family: helvetica;
  line-height: .8em;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  clear: both;
  margin-top: 25px;
  overflow-wrap: break-word;
}

.main-bubble {
  background: white;
  opacity: 0.8;
  padding: 25px;
  border-radius: 5px;
}
